/* Footer area 
---------------------*/
.site-footer {
	background: $offwhite;
	color: $light-grey;
	padding: 30px 0;
}

//.footer-menu {
//	ul {
//		@extend .no-padding-list;
//		li {
//			display: inline;
//			padding: 5px 20px 0 0;
//		}
//	}
//	a {
//		color: $light-grey;
//		font-weight: 700;
//		text-decoration: none;
//	}
//}

