.site-header { 
	@include clearfix;
	padding: 10px 0 10px 10px;
	position: relative;
	@media screen and (min-width: $phone-wide-landscape) {
		padding: 20px 20px;
	}
	@media screen and (min-width: $tablet-portrait) {
		padding: 20px 30px;
	}
	@media screen and (min-width: $desktop-wide) {
		padding: 20px 95px;
	}
	.site-branding {
		float: left;
	}
	.site-navigation {
		float: right;
	}
}
.site-title {
	margin: 0;
	a {	
		background: url("images/logo-mobile.png") no-repeat;
		@include image-2x("images/logo-mobile@2x.png", 200px, 46px);
		display: block;
		height: 46px;
		text-indent: -9999px;
		width: 200px;
		@media screen and (min-width: $desktop-tiny) {
			background: url("images/logo.png") no-repeat;
			@include image-2x("images/logo@2x.png", 350px, 78px);
			height: 78px;
			width: 350px;
		}
	}
}

.banner {
	img {
		height: auto;
		width: 100%;
	}	
}