/*
Theme Name: Credit Union Foundation of BC
Theme URI: http://cufoundation.com
Description: Theme created by Christine Rondeau at Bluelime Media based on a design by Central 1. 
Version: 1.0


Author: Christine Rondeau
Author URI: http://www.bluelimemedia.com
*
*
*/


// Colours
$black: #4d4e4e;
$white: #fff;
$offwhite: #f2f2f2;

$navy: #366693;
$blue: #50a0d8;
$green: #7cc144;
$teal: #1aaf9a;
$yellow: #f9d839;
$grey: #58595b;
$light-grey: #979797;
$silver: #ccc;

$color__background-body: $white;
$color__background-hr: $silver;
$color__text-main: $black;
$color__border-default: $silver;

// Links
$color__link-background: $white;
$color__link: $grey;
$color__link-visited: $grey;
$color__link-hover: $green;


// Buttons
$color__background-button: $blue;
$color__background-button-hover: $green;
$color__border-button: $blue;
$color__border-button-hover: $green;
$color__border-button-focus: $silver;

// Inputs
$color__text-input: $grey;
$color__text-input-focus: $black;
$color__border-input: $silver;

// Fonts
$font__serif: 'FF Meta Serif W01', Times, serif, Times, serif;
$font__sans: 'Transat W01', arial, sans-serif;

$font__line-height-body: 1.5;
$font__size-xlarge: 45px;
$font__size-large: 35px;
$font__size-medium: 24px;
$font__size-default: 16px;
$font__size-small: 14px;


// Media queries
$desktop-wide:          75.00em;  // 1200px
$desktop-small:         64.00em;  // 1024px
$desktop-tiny:          60.00em;  // 960px
$tablet-portrait:       48.00em;  // 768px
$phone-wide-landscape:  37.50em;  // 600px
$phone-landscape:       30.00em;  // 480px
$phone-portrait:        20.00em;  // 320px

$max-width: 1400px;

@import "_mixins";

@import "_reset";

@import "_accessibility";

@import "typography/typography";

@import "elements/elements";

@import "layout/layout";

@import "_header";

@import "navigation/navigation";

@import "sidebar/sidebar";

@import "_footer";

@import "forms/forms";

@import "media/media";

@import "carousel/slick";

