/* Main Layout
---------------------------*/
.row {
	width: 100%;
}
.container {
	@include center-block;
	@include clearfix;	
	padding: 0 30px;
	width: 100%;
	max-width: $max-width;
	@media screen and (min-width: $desktop-wide) {
		padding: 0 95px;
	}
	&.no-padding {
		padding: 0;
	}
}

.site-main {
	padding: 50px 0;
}

.entry-content {
	max-width: 800px;

}

.left-block {
	float: left;
}

.right-block {
	float: left;
	@media screen and (min-width: $tablet-portrait) {
		float: right;
	}
}

.primary-content {	
	width: 100%;	
	@media screen and (min-width: $tablet-portrait) {
		width: 60%;
	}
	@media screen and (min-width: $desktop-small) {
		width: 70%;
	}
}
.primary-sidebar {
	width: 100%;	
	@media screen and (min-width: $tablet-portrait) {
		width: 35%;
	}
	@media screen and (min-width: $desktop-small) {
		width: 25%;
	}
}

.callout {
	@include clearfix;
	.callout-item {
		float: left;
		width: 100%;
		@media screen and (min-width: $tablet-portrait) {
			width: 50%;
		}
		img {
			display: block;
			height: auto;
			width: 100%;
		}
	}
}

@import "_blog";
@import "_404";