.button {
	background: $color__background-button;
	border: 1px solid $color__border-button;
	border-radius: 0;
	color: $white;
	cursor: pointer; 
	font-family: $font__sans;
	font-size: $font__size-medium;
	line-height: 1.4;
	padding: 10px 20px;
	text-align: center;
	text-transform: uppercase;
	&:hover {
		background: $color__background-button-hover;
		border-color: $color__border-button-hover;
	}
	&:focus, 
	&:active {
		border-color: $color__border-button-hover;
	}
	.widget & {
		font-size: $font__size-default;
		padding: 6px 20px;
		width: 100%;
	}
}

.small-button {
	@extend .button;
	font-size: $font__size-default;
	line-height: 1;
	padding: 5px 10px;
	text-transform: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@extend .button;
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	&:hover {
		background: $color__background-button-hover;
		@include transition (.07s, ease-in);
	}
}

