.wp-caption {
	background: $white;
	border: solid 1px $color__border-default;
	padding: 3px;
	margin-bottom: 20px;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}
	.wp-caption-text {
		margin: 8px 0;
	}
}

.wp-caption-text {
	font-size: $font__size-small;
	text-align: center;
}
