blockquote {
	color: $color__text-main;
	font-style: italic;
	margin: 0.5em 0;
	padding: 0.5em 1em 0;
	p {
		font-size: $font__size-large;
		margin-bottom: 0.75em;
		@media screen and (max-width: $phone-landscape) {
			font-size: $font__size-medium;
		}
	}
}