h1, h2, h3, h4, h5, h6 {
	clear: both;
	color: $navy;
	font-family: $font__sans;
	font-weight: 700;
	line-height: 1;
}

h1 {
	font-size: $font__size-large;
	margin: 0 0 10px;
	@media screen and (min-width: $phone-wide-landscape) {
		font-size: $font__size-xlarge;
	}
}

h2 {
	font-size: $font__size-medium;
	margin: 0 0 15px;
	@media screen and (min-width: $phone-wide-landscape) {
		font-size: $font__size-large;
	}
}

h3, h4, h5, h6 {
	font-size: 20px;
	margin: 20px 0;
	@media screen and (min-width: $phone-wide-landscape) {
		font-size: $font__size-medium;
	}
}

h3.ExpanderLink {
	color: $green;
	font-size: 18px;
	margin-bottom: 0;
	text-decoration: underline;
	&.active {
		text-decoration: none;
	}
}

h4.sidebar-title {
	color: $white;
	margin: 10px 0;
	text-align: center;
}
