a {
	color: $color__link;
	@include transition (0.2s, ease-in-out);
	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&.button {
		background: $blue;
		color: $white;
		display: inline-block;
		text-decoration: none;
		&:hover {
			background: $green;
			color: $white;
		}
	}
	&.more-link {
		@extend .small-button;
		margin-top: 10px;
		text-decoration: none;
		&:after {
			content: "\003e";
			padding-left: 5px;
		}
	}
}

.entry-content a {
    overflow-wrap: break-word;
    word-wrap: break-word;

}