body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__serif;
	font-size: $font__size-default;
	line-height: $font__line-height-body;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	margin-bottom: 1em;
	.entrymeta & {
		font-size: $font__size-small;
	}
}


.small-text {
	font-size: $font__size-small;
}

@import "copy";

@import "links";

@import "headings";

@import "blockquotes";