/* Arrows */

.slick-prev,
.slick-next {
	background: transparent;
	@include border-radius(0);
	border: none;
	color: transparent;
    cursor: pointer;
    display: block;
    height: 80px;
    line-height: 0px;
    font-size: 0px;
	margin-top: -10px\9; /*lte IE 8*/
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    position: absolute;
    outline: none;
	top: 50%;
	width: 80px;
	z-index: 100;
    &:hover, &:focus {        
		background: transparent;
        color: transparent;
		outline: none;
    }
}

.slick-next {
	right: -10px;
	@media screen and (min-width: $desktop-tiny) {
		right: 30px;
	}
	&:before {
    	content: url(images/right-arrow.png);
	}
}

.slick-prev {
    left: -10px;
	@media screen and (min-width: $desktop-tiny) {
		left: 30px;
	}
	&:before {
		content: url(images/left-arrow.png);
	}
}

