.slick-dots { 
	bottom: 10px; 
	display: block;
	list-style: none; 
	margin: 0; 
	padding: 0; 
	position: absolute;
	text-align: center;
	width: 100%;
	@media screen and (min-width: $phone-wide-landscape) {
		bottom: 20px; 	
	} 
	@media screen and (min-width: $desktop-tiny) {
		bottom: 30px; 	
	} 
	li {
		cursor: pointer;
		display: inline-block;
		height: 20px;
		margin: 0 15px;
		padding: 0;
		position: relative;
		width: 20px;   
		button {
			border: 1px solid $white;
			background: transparent;
			cursor: pointer; 
			color: transparent;
			font-size: 0;
			display: block; 
			height: 20px;
			line-height: 0;
			outline: none;
			padding: 5px;
			width: 20px; 
			&:hover {
				background: $yellow;
				border: 1px solid $white;
			}    
		} 
		&.slick-active button {
			background: $yellow;
			border: 1px solid $white;
		}  
	}
}
