.menu-toggle {
    cursor: pointer;
	display: none;
	padding: 3px 10px;
}

@media screen and (max-width: $tablet-portrait) {
    .menu-toggle {
		background: transparent;
		border: none;
		color: $green;
        display: inline-block;
		font-family: $font__sans;
		font-size: $font__size-default;
		line-height: 2;
		margin: 0;
        text-decoration: none;
		text-align: left;
		text-transform: uppercase;
		width: 100%;
		p.text {
			display: block;
			float: left;
			margin: 0;
		}
		span {
			background: $green;
			display: block;
			height: 3px;
			margin: 5px 0 0 50px;
			position: relative;
			top: 0;
			width: 20px;
			transform-origin:50% 50%;
			transform-origin:50% 50%;
			-webkit-transform-origin:50% 50%;
		}
		&:hover {
			background: $green;
			color: $white;
			span {
				background: $white;
			}
		}
		
		
    }
}