@media screen and (max-width: $tablet-portrait) {
    .main-navigation.toggled .nav-menu {
        display: block;
		position: absolute;
		right: 0;
		top: 66px;
		max-width: 320px;
		width: 100%;
		z-index: 999;
    }
    .main-navigation {
		ul {
			display: none;
			padding: 0;
			text-align: left;
			li {
				display: block;
				width: 100%;
				a {
					background: $white;
					color: $grey;
					padding: 10px 20px;
					&:hover{
						background: $green;
						color: $white;
					}
				}
			}
			ul, 
			ul ul {
				box-shadow: none;
				display: block;
				float: none;
				left: 0;
				padding: 0;
				position: relative;
				top: inherit;
				width: 100%;
				li {
					border: none;
				}
			}
			ul a { 
				padding-left: 40px;
				width: 100%;
			}
			ul ul a {
				padding-left: 60px;
			}
		}
		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current_page_item > a:hover,
		.current-menu-item > a:hover,
		.current_page_item > a:focus,
		.current-menu-item > a:focus {
		    background: $green;
			color: $white;
		}
	}
}


