.main-navigation {
	ul {
		@extend .no-padding-list;
		text-align: right;
		li {
			display: inline-block;
		    position: relative;

			&:hover ul {
				display: block;
			}
			a {
				color: $grey;
				font-family: $font__sans;
				font-weight: 700;
				display: block;
				padding: 5px 15px;
				text-decoration: none;
				@media screen and (min-width: $desktop-tiny) {
					padding: 5px 20px;
				}
				&:hover {
					background: $green;
					color: $white;
				}
			}
		}
	}
	ul ul {
		background: $white;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		display: none;
		float: left;
		left: 0;
		padding: 0;
	    position: absolute;
		text-align: left;
	    z-index: 99999;
		ul {
		    top: 0;
		    left: 100%;
		}  
		a { 
			color: $grey;
			width: 250px; 
			&:hover,
			&:focus {
				background: $green;
				color: $white;
			}
		}
	}
	.current_page_item > a,
	.current-menu-item > a,
	.current-menu-ancestor > a, 
	.current_page_ancestor > a,
	.current_page_item > a:hover,
	.current-menu-item > a:hover,
	.current_page_item > a:focus,
	.current-menu-item > a:focus {
		color: $green;
		&:hover {
			background: $green;
			color: $white;
		}
	}
}

@import "_menu-toggle";
@import "_mobile-menu";
@import "_post-navigation";
@import "_post-pagination";

