.post-navigation {
	font-size: $font__size-small;
	padding: 2em 0;
	a {
		text-decoration: none;
	}
	.nav-previous {
		width: 100%;
		@media screen and (min-width: $phone-landscape) {
			width: 50%;
		}
		a:before {
			 content:"\003c";
			 padding-right: 5px;
		}
	}
	.nav-next {
		margin-top: 10px;
		width: 100%;
		@media screen and (min-width: $phone-landscape) {
			margin-top: 0;
			text-align: right;
			width: 50%;
		}
		a:after {
			 content:"\003e";
			 padding-left: 5px;
		}
	}
} 

