/* Sidebar Area 
-------------------------------------------*/
.widget {
	background: $teal;
	margin: 20px 0px;
	padding: 10px;
	
}

.primary-sidebar {	
	color: $white;
	ul {
		list-style: none;
		margin-left: 0.5em;
		li {
			padding: 0.5em 0;
			font-size: $font__size-small;
		}
	}
	a {
		text-decoration: none;
	}
} 

